{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-console": [
      "warn",
      {
        "allow": [
          "info",
          "warn",
          "error",
          "time",
          "timeEnd"
        ]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          ".storybook/**",
          "src/**/*.story.@(js|jsx)"
        ]
      }
    ]
  }
}
