.App {
    text-align: center;
}

.App:after {
    background: #fff url("/w4flogo.jpg") fixed no-repeat right bottom;
    content : "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}
